/***COMMON[S]***/
.inner {width:1200px; margin:0 auto;}
.cf > * {float:left;}
.cf:after {clear:both; content:""; display:block;}
.txtRight {text-align:right;}
.downBtnWrap > a:first-child {margin-right:35px; display:inline-block;}
.roundBtn {font-size:14px; padding:16px 22px; border:1px solid #999999; border-radius: 31px;}
.pdtn {padding-top:0;}
.roundDownBtn {font-size:14px; border:1px solid #ccc; background:url('/images/common/icon_download_s.png')no-repeat right 20px center; padding:11px 44px 11px 19px; border-radius: 22px; font-weight:normal;}
.greenBtn {background:#15a14e; color:#fff; font-size:14px; padding:14px 26px;}
.whiteBtn {color:#15a14e; font-size:14px; padding:10px 16px; border:1px solid #15a14e; border-radius:3px;}
.rbt {font-family:'Roboto';}
.agree {margin-top:22px;}
.btnAreaC {text-align:center; margin-bottom:80px;}
.grayBox {background:#f7f7f7; border:1px solid #e0e0e0; }
.grayBox.imgBox {font-size:0; text-align:center;}
.subContents {padding:80px 0;}
.subContents h2 {font-size:56px; text-align:center; /*font-family:'Malssami815';*/ margin-bottom:70px;}
.subContents h2.small {font-size:50px; margin-bottom:40px;}
h3.subTitle{/*font-family:'Malssami815';*/ font-size:50px; text-align:center; margin-bottom:50px;}

.Ccheckbox {
	display:inline-block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	color:#666666;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.Ccheckbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;z
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 8px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius:3px;
	border:1px solid #999;
}

/* On mouse-over, add a grey background color */
.Ccheckbox:hover input ~ .checkmark {
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.Ccheckbox input:checked ~ .checkmark {
	background:#15a14e url('/images/common/checkbox_bg.png')no-repeat center center;
	border:1px solid #15a14e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.Ccheckbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.Ccheckbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
}
* {outline:none;}
body {overflow-x:hidden;}
#wrap {min-width: 1180px;}
.paging {text-align:center; margin:80px 0 150px 0;}
.paging a {font-size:15px; margin:0 15px; display:inline-block; }
.paging a.current {color:#fff; background:#000; width:42px; text-align:center; padding: 10px 0; margin-right:0; margin-left:0;}
.paging a:nth-last-child(2).current{margin-left:0;}
/***COMMON[E]***/

/***HEADER[S]***/
header {border-bottom:1px solid #e2e2e2; padding:32px 0 31px 0; z-index:10;}
header.subHeader {padding:26px 0 25px 0;}
header > .inner {position:relative;}
header h1 > a {display:block; font-size:0; text-indent:-9999px; width:160px; height:42px; background:url('/resource/images/common/logo.png')no-repeat;}
ul.menu {position:absolute; top:12px; left:410px;}
ul.menu > li {margin-right:94px; float:left;}
ul.menu > li:last-child {margin-right:0;}
ul.menu > li > a {font-size:18px;}
ul.menu > li > a:hover {font-weight:bold; color:#219658;}
ul.menu > li:last-child {margin-right:0;}
ul.menu > li > a {font-size:18px;}
ul.utill {position:absolute; right:0; top:12px;}
ul.utill li a {font-size:16px; color:#c7c7c7;}
ul.utill li a.active {color:#000;}
ul.utill li:first-child {margin-right:60px;}
ul.utill li:first-child:after {content:""; display:inline-block; width:1px; height:18px; background:#dddddd; position:absolute; left:50px; top:5px;}
#gnb {background:#fff; position:absolute; width:100%; z-index:3; border-bottom:1px solid #e2e2e2; display:none; top:106px;}
#gnbInner {margin:0 auto; width:520px; position:relative; left:62px;}
#gnb #gnbInner > ul > li {float:left;}
#gnb #gnbInner > ul > li:nth-child(1) {margin-right:75px;}
#gnb #gnbInner > ul > li:nth-child(2) {margin-right:65px;}
#gnb #gnbInner > ul > li:nth-child(3) {margin-right:85px;}
#gnb #gnbInner > ul > li > ul {padding:32px 0 60px 0;}
#gnb #gnbInner > ul > li > ul > li {line-height:34px; text-align:center;}
#gnb #gnbInner > ul > li > ul > li:last-child {margin-bottom:0;}
#gnb #gnbInner > ul > li > ul > li > a {font-size:16px; color:#333333;}
#gnb #gnbInner > ul > li > ul > li > a:hover {color:#219658;}
/***HEADER[E]***/

.tabWrap {width:1202px; margin:63px auto 0;}
.tab_Menu {margin: 0px; padding: 0px;}
.tabMenu {width: 285px; margin:0px 1px 0 0; text-align: center; padding-top: 17px; padding-bottom:17px; float:left; background:#f7f7f7;}
.tabMenu a {color: #34363a; text-decoration: none;}
.current {background-color: #000; color:#fff; border-bottom:hidden; }
.current a {color:#fff;}
.tabPage {width: 1200px;  float: left; padding:65px 0;}
.tabPage ul li {width:400px; font-size:0;}
.newsCategory {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: #219658;
	line-height: 19px;
	font-size: 18px;
	color: #fff;
	padding: 24px;
}
.newsDate {
		height: 40px;
		width: 40px;
		display: inline-block;
		background: #000;
		line-height: 19px;
		font-size: 14px;
		color: #fff;
		padding: 20px;
		text-align: center;
}
.newsDate > strong {font-size:28px;}
.tabPage ul li > strong {color:#333; font-size:18px;	 display:block; font-weight:normal; margin-top:40px;}
.tabPage ul li > strong a {
	display: block;
	width: 320px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.tabPage ul li > p {color:#777777; font-size:14px; margin-top:15px; width:331px; /* 여러 줄 자르기 추가 스타일 */ 
	white-space: normal; line-height:20px; height:60px; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;
}

			
/***MAIN[S]***/
.mainBanner {width:100%; height:628px; background:#000; max-width:1920px; margin:0 auto; position:relative;}
.slider-main {overflow:visible !important;}
.slider-main .swiper-slide {color:#fff;}
.slider-main .swiper-slide > img {position:absolute; left:410px;}
.mainBannerTextBox {width:600px; position:absolute; z-index:10; left:0;}
.mainBannerTextBox h2 {color:#ffffff; background:#219658; display:inline-block; margin-top:106px; font-size:0px; font-weight:500; letter-spacing:0px; padding:10px 12px; margin-bottom:48px;}
.mainBannerTextBox strong {margin-bottom:19px; color:#f7f7f7; display:block; /*font-family: 'Malssami815';*/ font-size:50px; line-height:70px;}
.mainBannerTextBox p {color:#777777; font-size:17px; line-height:27px;}
.mainBanner .swiper-pagination-progressbar {width:770px; height:8px; left:0; bottom:0; z-index:8;}
.mainBanner .swiper-pagination-progressbar-fill {background:#219658 !important;}
.playBox {padding:38px 35px; background:#219658; display:inline-block; position:absolute; bottom:-41px; left:590px; z-index:9999;}
.playBox span {color:#f0f0f0; font-size:13px;}
.playBox span.total {color:#5db687;}
.swiper-button-disabled {opacity:0.3;}
.btnWrap {margin-left:111px;}
.btnWrap > div {margin-right:37px;}
.btnWrap > div:hover {cursor:pointer;}
.mainPlay {display:none;}
.btnWrap > .mainNextArr {margin-right:0;}
.businessSection {padding:150px 0 120px 0; background:#f7f7f7;}
.businessSection > .inner {position: relative;}
.swiper2 {width: 1550px;}
.swiper2 .swiper-wrapper {padding:10px 0 10px 10px;}
.swiper2 .swiper-slide a > * {display:block;}
.swiper2 .swiper-slide {padding:45px 40px; box-shadow: 1px 1px 9px #ccc; width:310px; }
.swiper2 .swiper-slide strong {/*font-family: 'Malssami815';*/ font-size:32px; line-height:50px; margin-bottom:38px;}
.swiper2 .swiper-slide strong > span {color:#219658;}
.swiper2 .swiper-slide p {color:#777777; font-size:13px; letter-spacing:0;}
.swiper2 .swiper-slide small {color:#555555; font-size:16px; letter-spacing:0; font-weight:500; margin-bottom:83px;}
.swiper-pagination-progressbar {width:1200px; height:1px; left:0; bottom:0; z-index:8;}
.businessSection .swiper-pagination-progressbar-fill {background: #219658 !important; height:5px !important; top:-2px !important;}
.swiper-pagination2 {bottom:-60px;}
.totoNews h2 {text-align:center; /*font-family: 'Malssami815';*/ font-size:46px;}
.totoNews {padding:111px 0;}
.newsMore {background:#f7f7f7 url('/resource/images/main/more_icon.png')no-repeat center center; text-indent:-9999px; width:58px; height:58px; display:inline-block;}
/***MAIN[E]***/

/***FOOTER_BANNER[S]***/
#bannerWrap {background:#eeeded; padding:24px 0;}
#bannerWrap > .inner {width:1042px;}
#bannerWrap > .inner > .banner {float:left;}
#bannerWrap > .inner > .banner > li:first-child {margin-right:20px;}
#bannerWrap > .inner > .snsWrap {float:right;}
#bannerWrap > .inner > .snsWrap > li {margin-right:14px;}
#bannerWrap > .inner > .snsWrap > li:last-child {margin-right:0px;}

/***FOOTER_BANNER[E]***/

/***FOOTER[S]***/
footer {padding:40px 0; background:#f7f7f7;}
footer > .inner > img {float:left; margin-right:29px;}
footer > .inner > a {font-size:16px; color:#666666;}
footer > .inner > p {font-size:14px; color:#888888; line-height:22px; margin-top:2px;}
/***FOOTER[E]***/

/***VISION[S]***/
.subContents  p.vision {text-align:center; font-size:42px; line-height:60px; margin-top:-25px; margin-bottom:100px; color:#111;}
/***VISION[E]***/

/***CI[S]***/
.ci p {text-align:center; font-size:18px; line-height:36px; color:#777777; margin-bottom:50px;}
.ci p > span {color:#000;}
.ciBox {padding:135px 0;}
.ci > ul {text-align:center; display:block; margin:50px 0 150px 0;}
.ci > ul li {text-align:center; display:inline-block; width:210px; background:#000; padding:17px 0 17px 0; margin-right:20px;}
.ci > ul li:last-child {margin-right:0;}
.ci > ul li a {color:#fff;}
.colorBox {padding:69px 0 0 69px; margin-bottom:150px;}
.colorBox > ul > li {width:370px; margin-bottom:75px;}
.colorBox > ul > li > strong {display:block; font-size:18px; font-weight:500; line-height:40px; color:#222;}
.colorBox > ul > li > span {color:#777777; font-size:14px; line-height:17px; font-weight:300;}
.colorCircle {width:90px; height:90px; border-radius:50%; background:#000; float:left; margin-right:25px;}
.colorBox > ul > li:nth-child(1) > .colorCircle {background:#27a14f;}
.colorBox > ul > li:nth-child(2) > .colorCircle {background:#0e543f;}
.colorBox > ul > li:nth-child(3) > .colorCircle {background:#c1c3c2;}
.colorBox > ul > li:nth-child(4) > .colorCircle {background:#104a35;}
.colorBox > ul > li:nth-child(5) > .colorCircle {background:#116d38;}
.colorBox > ul > li:nth-child(6) > .colorCircle {background:#25973b;}
.colorBox > ul > li:nth-child(7) > .colorCircle {background:#93c7aa;}
.colorBox > ul > li:nth-child(8) > .colorCircle {background:#c2d7ce;}
.colorBox > ul > li:nth-child(9) > .colorCircle {background:#e0e9e5;}
.gridBox {background:#f7f7f7 url('/resource/images/sub/company/grid_bg.png')repeat; text-align:center; padding:69px 0;}
/***CI[E]***/

/***COMPANY[S]***/
.companyInfo {margin-left:70px; padding-top:32px;}
.companyInfo > strong {font-size:42px; font-weight:500; margin-bottom:30px; display:block;}
.companyInfo > dl {margin-bottom:9px;}
.companyInfo > dl dt {width:106px; padding-left:10px; position:relative;}
.companyInfo > dl dt:before {content:""; display:block; width:2px; height:2px; background:#898989; position:absolute; top:13px; left:0;}
.companyInfo > dl dd {color:#777777;}
.companyInfo > dl dt,.companyInfo > dl dd {font-size:18px;}
/***COMPANY[E]***/

/***CEO[S]***/
.subContents p {text-align:center; font-size:18px; color:#777777; line-height:36px;}
.subContents p > strong {color:#000; font-weight:500;}
.ceo > p.subText {font-size:20px; color:#444444;}
.ceo > p.sign {font-weight:500; margin-bottom:130px;}
.ceo > p.boldText {font-size:42px; line-height:60px;  color:#444444; margin-bottom:60px; text-align:center;}
/***CEO[E]***/

/***SINCE[S]***/
.since dl {margin-bottom:300px;}
.since dt {font-size:70px; font-weight:bold; margin-right:70px;}
.since dd {width:969px;}
.since dd > ul {border-top:2px solid #000;}
.since dd > ul > li {border-bottom:1px solid #e4e4e4; padding:25px 50px 25px 32px; position:relative;}
.since dd > ul > li:before {content:""; display:block; width:2px; height:2px; background:#898989; position:absolute; top:38px; left:20px;}
/***SINCE[E]***/

.business p.left {text-align:left; margin-bottom:150px;}
.business p.subText {font-size:34px; color:#444444; text-align:center;}
.business p.boldText {font-size:42px; line-height:60px;  color:#444444; margin-bottom:60px; text-align:center;}

.corpsList {margin:70px 0 100px 0;}
.corpsList li {border:1px solid #e0e0e0; margin-right:30px;}
.corpsList li:last-child {margin-right:0px;}
.corpsList li > div {text-align:center; padding:50px 0 65px 0;}
.corpsList li > div > strong {display:block; font-size:24px; font-weight:500;}
.corpsList li > div > a  {display:block; font-size:15px; color:#777777; font-weight:300px;}

.boardTable {border-top:2px solid #000; margin-top:70px;}
.boardTable th, .boardTable td {text-align:center; font-size:18px; padding:19px 0 21px 0;}
.boardTable th {font-weight:normal; background:#f7f7f7; border-bottom:1px solid #e4e4e4; }
.boardTable td {border-bottom:1px solid #e4e4e4; font-weight:normal;}
.boardTable td:nth-child(2) {text-align:left; padding-left:15px;}
/*.boardTable td > p {text-align:left; padding:50px 40px; color:#333333; font-size:18px; font-weight:300; min-height:300px;} 상세페이지 에디터 p태그와 충돌로 아래로 수정(cyh-20200627) */
.boardTable td > p {text-align:left; color:#333333; font-size:18px; font-weight:300;}

/*
.btnTy5, .btnTy5 span {color:#444; height:32px; line-height:32px; text-align:left; background-image:url("/resource/images/common/bg_btn_05.gif");}
.btnTy5 {padding-left:21px;}
.btnTy5 span {display:block; padding:1px 44px 0 0; background-position:100% 0;}
*/
.btnTy5 {color:#000; background:#5db687; padding: 0px 0px 5px 0; text-align: center; display: inline-block; width:250px; background-image:url("/resource/images/common/bg_btn_05.gif");} /*(cyh-20200627) */

.blackBtn {color:#fff; background:#000; padding: 17px 0 17px 0; text-align: center; display: inline-block; width:164px;}
.btn_area {margin:50px 0; text-align:center;}

.vote dl {margin-top:70px;}
.vote dl dt {font-size:34px; line-height:54px; width:450px;}
.vote dl dd {font-size:18px; line-height:36px; color:#777777;}
.vote ul {margin-bottom:150px;}
.vote ul li {width:580px; box-shadow: 1px 1px 11px #ccc; margin-right:40px;}
.vote ul li:last-child{margin-right:0px;}
.vote ul li > strong {font-size:33px; line-height:41px; display:block; margin-top:36px; margin-bottom:30px;}
.vote ul li > img {float:left; margin-right:35px;}
.vote ul li p {text-align:left; color:#333333; font-size:19px; line-height:24px; margin-bottom:10px;}
.vote ul li span {color:#999999; font-size:16px; line-height:28px;}
.vote table {border-top:2px solid #000; margin-bottom:50px;}
.vote table th, .vote table td {text-align:left; font-size:16px; padding:22px 0 21px 29px; border:1px solid #e4e4e4;}
.vote table th {font-weight:normal; background:#f9f9f9;}
.vote table th.head {background:#f7f7f7; text-align:center; padding-left:0; border-left:none;}
.vote table td {color:#777777;}
.vote table tr td:last-child {border-right:none;}

.topBtn {position:fixed; right:30px; bottom:200px; z-index:19; }

.legal table {border-top:2px solid #000; margin-bottom:200px; margin-top:50px;}
.legal table th, .vote table td {text-align:center; font-size:16px; padding:22px 0 21px 0; border:1px solid #e4e4e4;}
.legal table th {font-weight:normal; background:#f9f9f9;}
.legal table tr th:first-child {border-left:none;}
.legal table td {color:#777777; text-align:center; font-size:18px; border:1px solid #e4e4e4;}
.legal table tr td:last-child {border-right:none;}

#transaction {width:1199px; height:492px; background:url('/resource/images/sub/business/transaction_bg.png')no-repeat; padding:84px 0 108px 0; text-align:center; margin-bottom:70px}
#transaction h3{text-align:center; font-size:55px;}
#transaction h3 > span {color:#02ad59}
#transaction > p {line-height:30px; margin-top: 13px; font-size:21px;}
.transactionBox {border:1px solid #e0e0e0; background:#f9f9f9; width:1048px; margin:50px auto 35px; text-align:center; font-size:30px; color:#444444; padding:57px 0; line-height:44px;}
.transactionBox > strong {color:#02ad59;}
.transactionBox p.big {font-size:26px; line-height:48px;}
p.big strong {font-size:34px; font-weight:bold;}
#transaction p.big {line-height:36px; margin-top:0;}
.transaction {text-align:center;}
.transaction > p {color:#000; font-size:27px; }
.transaction > a {color:#02ad59; font-size:48px;}